:root{
    --cor-primaria: #a5227e;
    --cor-secundaria: #a95e2c;
    --cor-destaque: #cbf20b;
    --cor-fundo-destaque: #7e8bf1;
}

h1{
    color: var(--cor-primaria);    
}

h2{
    color: var(--cor-secundaria);
}

p{
    color: var(--cor-destaque);
    background-color: var(--cor-fundo-destaque);
}